.all-page-layout.page-detail
  background-color: #eee
  padding-bottom: 40px
  min-height: 1024px
  .anticon.anticon-left-circle
    margin-left: 20%
    svg
      width: 40px
      height: 40px

  .page-detail-content
    margin: 40px 20%
    padding: 20px
    border-radius: 10px
    background-color: rgba(255, 255, 255, 0.8)
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    .display-tags
      padding-top: 10px
      padding-bottom: 15px
      margin-bottom: 25px
      border-bottom: 1px solid #AEB6BF
      > h4
        margin-bottom: 1em
    .apply-link
      position: absolute
      top: 64px
      right: 20%
      border: 1px solid
      padding: 5px 20px
      font-size: 20px
      border-radius: 5px
      background-color: rgb(24, 144, 255)
      color: #fff