.all-page-layout.detail-page
  background-color: #eee
  padding-bottom: 40px
  min-height: 1024px

  .detail-page__top
    width: 100%
    background-size: cover
    height: 300px
    text-align: center
    padding-top: 100px
    > h1
      color: white
      font-size: 60px
      text-shadow: 4px 5px 7px #000;

    background-color: #eee
    margin-bottom: 40px
    background-image: url('/img/bg2.jpg')

  .detail-page__content
    margin: 80px 0 40px 0
    display: flex
    justify-content: center
    flex-flow: row wrap
    .ant-col
      background-color: rgba(255, 255, 255, 0.8)
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      padding: 20px
      border-radius: 10px
      .display-tags
        padding-top: 10px
        padding-bottom: 15px
        margin-bottom: 25px
        border-bottom: 1px solid #AEB6BF
        > h4
          margin-bottom: 1em
      .anticon.anticon-left-circle
        position: absolute
        top: -57px
        svg
          width: 40px
          height: 40px
      .apply-link
        position: absolute
        top: -60px
        right: 1%
        border: 1px solid
        padding: 5px 20px
        font-size: 20px
        border-radius: 5px
        background-color: rgb(24, 144, 255)
        color: #fff
